<div class="container">
  <h1>Tic Tac Toe!</h1>
  <p>Create User:</p>
  <form class='user_forms' action="/users" method="post">
    <ul>
      <li><input type="text" name="user_name" placeholder="Username" /></li>
      <li><input type="password" name="password" placeholder="Password" /></li>
      <input type="submit" value="Create User"/>
    </ul>
  </form>
  <p>&nbsp;</p>
  <p>Login:</p>
  <form class='user_forms' action"/login" method="post">
    <ul>
      <li><input type="text" name="user_name" placeholder="Username" /></li>
      <li><input type="password" name="password" placeholder="Password" /></li>
      <input type="submit" value="Create User"/>
    </ul>
  </form>

  
</div>
